.filter-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  div {
    width: 33.333%;
    display: flex;
    align-items: center;
    padding: 10px;
    p {
      font-size: 14px;
      padding: 10px;
      color: var(--gray-color);
    }
    select {
      padding: 10px;
      width: 250px;
      background: var(--select-bg-color);
      border: 1px solid var(--select-bg-color) !important;
      color: var(--select-color);
      -webkit-appearance: none;
      appearance: none;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
      background-position: 100%;
      background-repeat: no-repeat;
      border: 1px solid #ccc;
      border-radius: 0;
    }
  }
}
