.chart-section {
  margin: 0 20px;
  display: flex;
  background-color: var(--white-bg-color);
  .chart {
    width: 70%;
    padding: 20px;
    p {
      font-size: 12px;
      color: var(--gray-color);
      padding-bottom: 10px;
    }
  }
  .lessons {
    padding: 30px 5px 20px 60px;
    width: 30%;
    border-left: 1px solid var(--gray-color);
    color: var(--gray-color);
    .header-lessons {
      h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0px;
        line-height: 12px;
        opacity: 1;
        span {
          color: var(--gray-color);
          opacity: 0.8;
        }
      }
      p {
        font-size: 12px;
        opacity: 0.8;
      }
    }
    .lessons-list {
      margin-top: 20px;
      max-height: 380px;
      overflow: auto;
      .lesson {
        background-color: transparent;
        border: none;
        display: flex;
        .lesson-point {
          display: flex;
          padding-top: 20px;
          .lesson-border-point {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-radius: 100%;
            width: 15px;
            height: 15px;
            div {
              width: 7px;
              height: 7px;
              border-radius: 100%;
            }
          }
        }
        .lesson-info {
          padding-left: 20px;
          h3 {
            font-size: 22px;
            margin-bottom: 0px;
            line-height: 12px;
            opacity: 1;
            span {
              opacity: 0.8;
            }
          }
          p {
            font-size: 12px;
            opacity: 0.8;
          }
        }
      }
      // scrollbar
      &::-moz-scrollbar {
        width: 7px;
        height: 10px;
      }

      &::-webkit-scrollbar {
        width: 4px;
        height: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        margin: 10px;
        box-shadow: inset 0 0 5px var(--scroll-color-500);
        border-radius: 15px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: var(--scroll-color-500);
        border-radius: 15px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: var(--scroll-bg-color-500);
      }
    }
  }
}
