:root{
  --main-bg-color: #F5F6FA;
  --white-bg-color: #fff;
  --primary-color:#8A5EA9;
  --secondary-color: brown;
  --red-color: #F3838B;
  --gray-color: #777;
  --select-bg-color: #2b9fd8;
  --select-bg-color: #2b9fd880;
  --select-color: #000;
  --scroll-color: #999;
  --scroll-bg-color:#ccc;

}

* {
  box-sizing: content-box;
    font-weight: 300;
    
}

body {
  background: var(--main-bg-color);
  margin: 0;
  font-family:sans-serif ;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

